services:
    openwebui:
        image: ghcr.io/open-webui/open-webui:main
        container_name: open-webui
        ports:
            - "3000:8080"
        volumes:
            - open-webui:/app/backend/data
        extra_hosts:
            - "host.docker.internal:host-gateway"
        environment:
            - WEBUI_AUTH=True
            - OPENAI_API_KEY=${MASTER_KEY}
            - OPENAI_API_BASE_URL=http://host.docker.internal:4000/v1
            - ENABLE_FORWARD_USER_INFO_HEADERS=True
        restart: always

    litellm:
        image: ghcr.io/berriai/litellm-database:main-latest
        container_name: litellm
        env_file:
            - .env
        ports:
            - "4000:4000"
        volumes:
            - ./config.yml:/app/config.yaml
        command: --config /app/config.yaml --port 4000
        restart: always
        environment:
            DATABASE_URL: "postgresql://tom:Thanatos7!@192.168.1.202:5432/litellm"
            STORE_MODEL_IN_DB: "True"

volumes:
    open-webui:
